* {
    margin: 0;
    padding: 0;
    font-family: "GDS Transport",arial,sans-serif;
}

.nav {
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.nav a {
    display: flex;
}

ul {
    list-style: none;
}

#menu {
    background-color: black;
    color: white;
    align-items: center;
}

a #menu {
    font-size: 50px;
}

.home_list {
    display: flex;
    justify-content: end;
}

.home_list li {
    display: flex;
}

.blue {
    background-color:#1d70b8;
    color: white;
    padding: 40px 30px;
}

.main_title {
    padding-bottom: 40px;
}

.non--bold {
    font-weight: normal;
    padding-bottom: 10px;
}

.popular--links {
    background-color: #f3f2f1;
    padding: 20px;
    display: flex;
}

.popular--links ul li{
    padding-top: 20px;
    font-weight: bold;
}

.search--bar {
    float: left;
}

label,input {
    display: block;
}

.topics {
    padding: 20px
}

.topics h2 {
    padding-bottom: 20px;
}

td {
    vertical-align: top;
    padding-top: 15px;
    border-top: 1px solid gray;
}

td h3 {
    padding-bottom: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 20px 0;
  }